# Test folders
test/
test_on_*/
run_fast_test.sh
run_test.sh

# Libraries
cof_linkers_lib/
cof_nodes_lib/
mof_linkers_lib/
mof_nodes_lib/

# Databases & Data
mofs_from_raspa/
CoRE-COF-Database/
backup/

# Python Cache
__pycache__/
*.pyc
